@import "tailwindcss";

/* @theme{
    --color-primary: oklch(64.5% 0.246 16.439);
    --font-display: 'Inter', sans-serif;
    --font-paaji: 'Paaji', sans-serif;
} */


:root{
    --background: var(--color-neutral-50);
    --foreground: var(--color-neutral-950);
}
@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --animate-marquee: marquee 10s linear infinite;

    @keyframes marquee{
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }
}

.dark{
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-50)
}
@theme inline{
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --shadow-input:
            0px 2px 3px -1px rgba(0, 0, 0, 0.1),
            0px 1px 0px 0px rgba(25, 28, 33, 0.02),
            0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}